<h3>Reservation #{{id}}</h3>
<ul>
    <li>
        Name: {{first_name}} {{last_name}}
    </li>
    <li>
        Pet Name: {{pet_name}}
    </li>
    <li>
        Phone Number: {{phone_number}}
    </li>
    <li>
        Notes: {{notes}}
    </li>
    <li>
        Time Slot: {{schedule.date_time}}
    </li>
</ul>