<li style="list-style-type: none;">
    <label for="{{id}}-check"></label>
    <Input type="checkbox" class="apt-check" id="{{id}}-check" onclick = "checking(this)" value={{id}} name={{date_time}}>  {{date_time}}</Input>
</li>
